{
  "singleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(\\.\/|\\.\\.\/)+[a-z][\\d\\D]*(.js)?(?<!css|scss|sass)$",
    "",
    "^(\\.\/|\\.\\.\/)+[A-Z][\\d\\D]*(.jsx)?(?<!css|scss|sass)$",
    "",
    "\\.(css|scss|sass)$",
    ""
  ],
  "importOrderSafeSideEffects": ["\\.(css|scss|sass)$"]
}
